[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	name = SwiftWinds
	email = 12981958+SwiftWinds@users.noreply.github.com
[core]
	editor = vim
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[diff]
	tool = bc3
[difftool "bc3"]
	trustExitCode = true
[merge]
	tool = bc3
[mergetool "bc3"]
	trustExitCode = true
[init]
	defaultBranch = main
[push]
	default = current
